body {
  font-size: 18px;
}
p {
  margin: 20px 0;
}
.intro-header .site-heading {
  padding: 100px 0 50px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 80px 0;
  }
}

.intro-header .post-heading {
  padding: 50px 0 50px;
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    padding: 50px 0;
  }
  .intro-header .post-heading h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1, .intro-header .page-heading h1 {
    font-size: 50px;
  }
}

code, pre code {
  font-size: 15px;
}
