<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>$title$</h1>
          <h2 class="subheading">$subtitle$</h2>
          <span class="meta">Posted $if(author)$ by $author$ $endif$ on $date$ </span>
        </div>
      </div>
    </div>
  </div>
</header>
 
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        $body$
      </div>
    </div>
  </div>
</article>

<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3>
        Contents
      </h3>
      <ul>
        $recent$
        <!--<li>Recursive Data Structure</li>-->
        <li><a href="../posts/2015/09/13/aux-pattern.html">Aux Pattern</a></li>
        <!--<li>Type Level Pattern Matching and Recursion</li>-->
      </ul>
    </div>
  </div>
</div>

$partial("templates/disqus.html")$

